  .poster-image {
    max-width: 90px;
    position: absolute;
    right: 25px;
    top: 20px;
  }
  
  .movie-details-table {
    margin: 20px 0px;
  }
  
  .cheapest-panel {
    background-color: red;
    color: #ffffff;
    margin-top: 50px;
    font-weight: bold;
  
    span {
      margin-right: 20px;
      font-size: 20px;
    }
  }
  
  .section-top-padding {
    margin-top: 20px;
  }
  